/* Tags */
html {
    background-color: #cde;
}
body {
    max-width: 720px;
    margin: 0px auto;
    background-color: #fff;
    border: 1px solid #aaa;
    .border-radius: 5px;
    min-height: 1000px;
}

/* Tweaks */
#header {
    background: #acc;
    border-bottom: 1px solid #000;
    top: 0px;
    padding: .5em .75em;
    min-height: 4em;
    max-height: 4em;
    position: fixed;
    width: 720px;
    z-index: 10;
}
#header h1 {
    display: inline;
}
#header a {
    float: right;
    font-size: 2.5em;
}
#loading {
    background:#fff url('/images/loader.gif') no-repeat center center;
    height: 150px;
    width: 150px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    z-index: 1000;
}
#home-image {
    top: 0px;
    min-height: 1000px;
    max-height: 1000px;
    position: fixed;
    width: 720px;
    background-image: url('/images/bg.jpg');
}
#content {
    margin: 1em .5em;
    top: 4em;
    position: relative;
}
#anglers,
#records {
    width: 75%;
    margin: 1em auto;
}
#submission,
#submit-ty,
.species {
    display: none;
}
#submission,
#submit-ty {
    margin: 0px auto;
    width: 75%;
    text-align: left;
}
#submission {
    font-size: .9em;
}
#submission input {
    display: block;
    margin: .25em 0em;
}
.species-meta {
    margin: 0px auto;
    width: 75%;
    text-align: center;
}
.species-narrative {
    text-align: left;
}
#footer {
    background: #acc;
    border-top: 1px solid #000;
    bottom: 0px;
    min-height: 2em;
    max-height: 2em;
    position: fixed;
    text-align: center;
    width: 720px;
    z-index: 10;
}

#footer ul li {
    color: #ddd;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px 0 6px;
    position: relative;
    top: .3em;
}

#footer ul li a:link,
#footer ul li a:visited {
    color: #fff;
}

/* Navigational Menu */
.slideout-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    overflow-y: scroll;
    z-index: 100;
}
.slideout-menu h3 {
    position: relative;
    padding: 12px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    background: #222;
    color: #999;
    text-decoration: none;
    vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
    color: #fff;
}
.slideout-menu ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
}
.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #999;
    text-decoration: none;
}
.slideout-menu ul li a:hover {
    background: #000;
    color: #fff;
}
.slideout-menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .5;
}
