        </div>
        <div id="footer">
            <ul>
                <li>
                    <a href="/">
                        Michigan Fish Home
                    </a>
                </li>
                <li>
                    <a href="michigan.gov" target="_blank">
                        Michigan.gov
                    </a>
                </li>
                <li>
                    <a href="data.michigan.gov" target="_blank">
                        Michigan Data Portal
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/michigansocial" target="_blank">
                        Michigan Social
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/+JasonWhite906" target="_blank">
                        Jason on G+
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
